/*CSS DOCUMENT*/
html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */
div.container {
max-width: 60em;
margin: auto;
}
img {
width: 100%; /*Please leave this line.*/
grid-column: 1/5;
display: block;
}
header {
width: 40 em;
background-color: #fcf4f0; 
}
main{
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: auto;
}
figure{
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: auto;
padding-bottom: 3em;
background-color: #fafafa;
}
article{
    background-color: #fafafa;
}
body {
background-color: #fafafa; /* Not totally white. */
color: #1e1e1e;  /* Not totally black. */
line-height: 140%; 	/* A little extra leading. */
font-family: sans-serif;
}
h1 {
margin: auto;
width: 20em;
padding: 1em ;
}
h2{
background-color: #1e1e1e;
color: #fafafa; /* Same as body background. */
font-size: 2rem;
font-family: bookman-jf-pro, serif;;
padding: 2rem 2rem 2rem;
font-weight: 200;
font-style: normal;
margin-bottom: 1em;
}
figcaption {
background-color: #fafafa;
color: #1e1e1e;
padding: 1rem 2rem 0rem;
font-family: neue-haas-grotesk-text, sans-serif;
font-style: italic ;
font-weight: 500;
}
h3{
background-color: #fafafa;
color: rgb(244, 127, 25); 
font-size: 1.5rem;
padding: 2.5rem 2rem 2rem;
font-weight: normal;
font-family: bookman-jf-pro, serif;
font-style: normal;
text-transform: uppercase;
letter-spacing: .1rem;
border-top: 2.5px solid;
}
h4{
font-family: neue-haas-grotesk-text, sans-serif;
color: rgb(244, 127, 25);
padding-left: 2em;
padding-bottom: 1em;
font-weight: bold;
}
p {
font-size: 1em;
font-family: neue-haas-grotesk-text, sans-serif;
font-weight: 400;
font-style: normal;
padding: 0rem 1rem 1rem 2rem;
}
.description{
padding-left: 2em;
font-style:italic;
}
.price{
padding-left: 2em;
padding-bottom: 2em;
}
ul {
list-style-type: none;
padding-left: 2em;
}
nav{
width:100%;
background-color: #1e1e1e;
overflow:auto;
}
nav ul {
padding:0;
margin:auto;
list-style: none;
}
nav ul li{ 
float:left;
}
nav ul li a{
width: 100px;
display: block;
padding:20px 15px;
text-decoration: none;
color: #f2f2f2;
text-align: center;
font-family: neue-haas-grotesk-text, sans-serif;
}
nav ul li a:hover {
background:rgb(244, 127, 25);
transition: 0.5s;
text-transform: uppercase;
}
footer { 
background-color: rgb(244, 127, 25);
color: rgb(255, 255, 255); /* Same as body background. */
padding: 1rem 2rem 1rem;
margin-top: 2em;
font-family: poppins,sans-serif;
font-style: normal;
}
@media screen and (min-width: 40em){
div.containter {
display: grid;
grid-template-columns: 2fr 1fr;
grid-template-rows: 5em auto 3em;
}
header, footer {
grid-column: 1/3;
}
section {
display: grid;
}}